/* ヘッダー上部分の装飾です */
@media print, screen and (min-width: 480px) {
  body,html{
  width:100vw;
  height:100vh;
  background-color: #E6E6E6;
  }
  header{
    position:fixed;
    width:100vw;
    height:100px;
    z-index:2;
  }
  .header-top{
    padding-left:10vw;
    padding-right:10vw;
    width:80vw;
    height:50px;
    line-height:50px;
    /*background-color:#000066;*/
    background-color: black;
    .fa.fa-tags{
      line-height:50px;
      color:white;
      float:left;
      font-size:40px;
    }
    &__service-name{
      color:white;
      float:left;
    }
    &__sns-for-smartphone{
      display:none;
    }
    &__inputs{
      width:400px;
      text-align:center;
      float:left;
      .search{
        width:300px;
        height:30px;
        border-radius:5px;
      }
    }
    &__sns{
        height:50px;
        float:right;
        line-height:50px;
      .fa.fa-address-card{
        color: gray;
        font-size: 30px;
        line-height: 50px;
      }
      .fa.fa-pencil-square{
        color: gray;
        font-size: 30px;
        line-height: 50px;
        margin-left: 30px;
      }
      .fa.fa-window-close{
        color: gray;
        font-size:30px;
        line-height:50px;
        margin-left: 30px;
      }
      .fa.fa-twitter-square{
        color:white;
        font-size:30px;
        line-height:50px;
        margin-left: 30px;
      }
      .fa.fa-facebook-square{
        color:white;
        font-size:30px;
        margin-left:30px;
      }
    }
  }
  .toggle{
   display:none;
  }
  .header-bottom{
    padding-left:10vw;
    padding-right:10vw;
    width:80vw;
    height:50px;
    line-height:50px;
    /*background-color: #999999;*/
    background-color: white;
    border-bottom: solid 1px;
    &__links{
      float:left;
      color: black;
      width:20%;
      text-align:center;
    }
    &__links:hover{
      text-decoration:underline;;
    }
    &__links-link{
      text-decoration: none;
    }
    .contact{
      color:white;
      background-color: gray;
    }
  }

  .body{
    width:90vw;
    height:100vh;
    padding-top:100px;
    margin:0 auto;
    &__left{
      width:60vw;
      height:100vh;
      float:left;
      .article{
        width:60vw;
        height:30vh;
        padding: 10px;
        margin-top:30px;
        background-color: white;
        position:relative;
        &__image{
          float:left;
          object-fit: cover;
          width: 25vw;;
          height: 30vh;
          background-color: #ccc;
        }
        &__texts{
          height:25vh;
          width:30vw;
          float:left;
          margin-left:20px;
          &__title-box{
            height: 90px;
            &__title-link{
              text-decoration: none;
            }
            &__title{
              font-size:20px;
              color: black;
              font-weight:bold;
            }
            &__title:hover{
              text-decoration:underline;;
            }
          }
          &__text-box{
            &__text{
              width: 95%;
              height: 70px;
              margin-bottom: 10px;
              font-size: 15px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
          }
          &__date{
            float: right;
            margin-top:15px;
          }
        }
      }
      .pagination{
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 17px;
        text-align: center;
        span{
          color: black;
        }
      }
    }
    &__right{
      width:-webkit-calc(30vw - 100px);
      height:100vh;
      padding:50px;
      float:right;
      .ad{
        width:310px;
        height:160px;
      }
    }
    .popular-articles{
      width:310px;
      &__title{
        text-align:center;
        border-bottom:solid;
        padding-top:20px;
      }
      &__article{
        background-color: white;
        margin-top:30px;
        &__icon{
          float:left;
        }
        &__ranking{
          font-size:15px;
          font-weight:bold;
        }
        &__image{
          object-fit: cover;
          width: 310px;
          height: 160px;
          background-color: #ccc;
        }
        &__text{
          font-size:15px;
          clear:left;
        }
      }
    }
  }
}

@media screen and ( max-width:480px )
{
  body,html{
    width:100vw;
    height:100vh;
  }
  header{
    position:fixed;
    height:100px;
    z-index:2;
  }
  .header-top{
    width:100vw;
    height:50px;
    line-height:50px;
    background-color:#000066;
    .fa.fa-tags{
      line-height:50px;
      color:white;
      float:left;
      font-size:40px;
    }
    &__service-name{
      color:white;
      float:left;
    }
    &__sns-for-smartphone{
      float:right;
      font-size:30px;
      margin-right:10vw;
      color:white;
    }
    &__inputs{
      width:100vw;
      clear:left;
      background-color:white;
      .search{
        width:80vw;
        height:30px;
        margin-left:15vw;
        border-radius:5px;
      }
    }
    &__sns{
      display:none;
      .fa.fa-twitter-square{
      }
      .fa.fa-facebook-square{
      }
    }
  }
  .toggle{
    display:block;
    .menu-bar{
      font-size:30px;
      margin:10px;
    }
  }
  .header-bottom{
    display:none;
    &__links{
      width:100vw;
      height:50px;
      line-height:50px;
      text-decoration: none;
      text-align:center;
      background-color:#DDDDDD;
      color: black;
    }
    &__links-link{
      text-decoration: none;
    }
    .contact{
      color:white;
      background-color:black;
    }
  }

  .body{
    width:100vw;
    height:100vh;
    padding-top:100px;
    &__left{
      width:100vw;
      .article{
        width:100vw;
        height:45vh;
        position:relative;
        &__image{
          object-fit: cover;
          width: 100vw;
          height: 30vh;
          background-color: #ccc;
        }
        &__texts{
          width:100vw;
          &__title-link{
            text-decoration: none;
          }
          &__title{
            font-size:15px;
            color: black;
            font-weight:bold;
          }
          &__text{
            display: none;
          }
          &__date{
            margin-top:10px;
            margin-right: 10px;
            font-size:10px;
            float: right;
          }
        }
      }
      .pagination{
        margin-top: 20px;
        text-align: center;
        span{
          color: black;
        }
      }
    }
    &__right{
      width:100vw;
      margin-top:30px;
      .ad{
        width:100vw;
        height:30vh;
      }
    }
    .popular-articles{
      width:100vw;
      &__title{
        text-align:center;
        border-bottom:solid;
        padding-top:20px;
      }
      &__article{
        margin-top:30px;
        &__icon{
          float:left;
        }
        &__ranking{
          font-size:15px;
          font-weight:bold;
        }
        &__image{
          object-fit: cover;
          width: 100vw;
          height: 30vh;
          background-color: #ccc;
        }
        &__text{
          font-size:15px;
          clear:left;
        }
      }
    }
  }
}
